# Discord OAuth2 Configuration
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_CLIENT_SECRET=your_discord_client_secret_here

# Discord Bot Configuration (pour l'organigramme)
DISCORD_BOT_TOKEN=your_discord_bot_token_here
DISCORD_SERVER_ID=1332323284825411658

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_super_secret_key_here_make_it_long_and_random

# Database
DATABASE_URL="file:./dev.db"

